<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a th:href="@{/Editar}">Vista editar</a>
    <a th:href="@{/Crear}">Vista crear</a>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.categoria}"></td>
                <td th:text="${producto.precio}"></td>
                <td th:text="${producto.cantidadDisponible}"></td>
                <td>
                    <a th:href="@{/Editar/{id}(id=${producto.id})}">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>